.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background: linear-gradient(to top left, #c94b4b, #4b134f );
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  background: linear-gradient(to top right, #c94b4b, #4b134f );
  top: 0;
  z-index: 1;
}
