body{
  background: linear-gradient(to bottom, #c94b4b, #4b134f);
}
/* .container1{
    margin-top: 200px;
} */

.form-button-toggle-label {
    display: inline-block;
    margin: 16px;
    width: 30px;
  }

  .card {
    border-radius: 14px;
    color: black;
    max-width: 480px;
    margin: auto;
    
  }

  .form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 140px;
  }
  
  .form> * {
    width:200px;
  }
  
  .form-right-align {
    text-align: right;
  }
  
  input.form-right-align::-webkit-outer-spin-button,
  input.form-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.form-right-align {
    -moz-appearance: textfield;
  }
 
  input{
    color: black;
    font-size: 18px;
  }

  .mat-raised-button{
    margin-left: 35px;
    margin-top: 24px;
    background: linear-gradient(to bottom, #c94b4bdb, #4b134fb5);
    width: 112px;
    border-radius: 8px;
    color: white;
  }
  .mat-raised-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
       -moz-transition: none;
            transition: none;
  }
  .mat-raised-button:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    
    -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
  }
  
  .form1{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 35px;
    }
 
    .reg {
      position: relative;
      width: 198px;
      margin: auto;
  }

 .Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.btn{
  margin-left: 137px;
  margin-top: 24px;
  background: linear-gradient(to bottom, #c94b4bdb, #4b134fb5);
  width: 112px;
  border-radius: 8px;
  color: white;
}

.btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.btn:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

p{
  text-align: center;
  font-size: 14px;
  color: #74214c;
  margin-left: -9px;
  margin-top: 20px;
}

.mat-checkbox{
  line-height:35px;
  color: #74214c;
}

h4{
  color: #74214c;
}