<body>
<br><br><br>
<div class="container1">
<mat-card class="card">
<mat-tab-group mat-align-tabs="center" >
  <mat-tab label="LOGIN"> 
      <div class="form">
          <form [formGroup]="loginForm">
            <h4>LOG IN TO YOUR ACCOUNT</h4>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="loginUserData.p_first_name"  formControlName="p_first_name" name= p_first_name required>
    </mat-form-field> 

            <mat-form-field>
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="loginUserData.p_password" formControlName="p_password" name= p_password required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-checkbox>Remember Password</mat-checkbox>
            <button routerLink ="/edashboard" mat-raised-button (click)="loginUser()">LOGIN</button>  
                          
           <p>forgot password?</p>
          </form>
            </div>
        </mat-tab>


<mat-tab label="REGISTER">
    <div class="form1">
        <form [formGroup]="registerForm">
   <div class="Row">
   
       <mat-form-field class="reg" >
          <input  matInput placeholder="First Name" formControlName="p_first_name" [(ngModel)]="registerUserData.p_first_name" name=p_first_name required>
        </mat-form-field>
     
    
       <mat-form-field class="reg">
        <input  matInput placeholder="Middle Name" formControlName="p_middle_name" [(ngModel)]="registerUserData.p_middle_name" name=p_middle_name  required>
    </mat-form-field>


  <mat-form-field class="reg">
    <input  matInput placeholder="Last Name" formControlName="p_last_name" [(ngModel)]="registerUserData.p_last_name" name=p_last_name  required>
      </mat-form-field>      
    
       <mat-form-field class="reg">
        <input type="email" matInput placeholder="email id" formControlName="p_email_id" [(ngModel)]="registerUserData.p_email_id" name=p_email_id  required>
    </mat-form-field>

  <mat-form-field class="reg">
     <input type="tel" matInput placeholder="Phone no." formControlName="p_current_contact_no" [(ngModel)]="registerUserData.p_current_contact_no" name=p_current_contact_no  required>
   </mat-form-field>
   <mat-form-field class="reg">
      <input matInput [matDatepicker]="picker" placeholder="DOB " formControlName="p_dob" [(ngModel)]="registerUserData.p_dob" name=p_dob  required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="reg" >
        <mat-select placeholder="Select-Gender"  formControlName="p_gender" [(ngModel)]="registerUserData.p_gender" name=p_gender #p_gender>
            <mat-option value="option">Male</mat-option>
            <mat-option value="option">Female</mat-option>
            <mat-option value="option">Other</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="reg">
        <input matInput placeholder="Experience Years" formControlName="p_total_experience" [(ngModel)]="registerUserData.p_total_experience" name=p_total_experience  required>
      </mat-form-field>
      <mat-form-field class="reg">
          <input matInput placeholder="Reference id:" formControlName="p_reference_1" name=p_reference_1 [(ngModel)]="registerUserData.p_reference_1" >
        </mat-form-field>
        <mat-form-field class="reg">
            <input matInput placeholder="Highest Qualification:" formControlName="p_qualification_type" [(ngModel)]="registerUserData.p_qualification_type" name=p_qualification_type  required>
          </mat-form-field>
          <mat-form-field class="reg">
        <input matInput placeholder="CGPA:" formControlName="p_per_of_marks_CGPA" name=p_per_of_marks_CGPA [(ngModel)]="registerUserData.p_per_of_marks_CGPA"  required>
     </mat-form-field>
      <mat-form-field class="reg">
     <input matInput placeholder="Year Of Passing:" formControlName="p_year_of_passing" name=p_year_of_passing [(ngModel)]="registerUserData.p_year_of_passing"  required>
      </mat-form-field>
       <mat-form-field class="reg">
      <input matInput placeholder="Name of Institute:" formControlName="p_institute_name" name=p_institute_name [(ngModel)]="registerUserData.p_institute_name" required>
   </mat-form-field>
   <button (click)="registerUser()" mat-raised-button class="btn">LOGIN</button>
</div>                     
 

</form>
</div>

</mat-tab>
</mat-tab-group>
</mat-card>
</div>
</body>