.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

input{
  color: black;
  font-size: 1.2rem;
}

.card {
    max-width: 600px;
    margin:auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);  
}
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .form{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* margin-left: 140px; */
  }
  .Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    margin-left: 105px;
}
.reg {
    position: relative;
    width: 198px;
    margin: auto;
}

.mat-button{
  margin-left: 130px;
  margin-top: 24px;
  background: linear-gradient(to bottom, #c94b4bdb, #4b134fb5);
  width: 112px;
  border-radius: 8px;
  color: white;
}
.mat-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.mat-button:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}