<mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <mat-card class="card">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <div class="Row">
                        <mat-form-field class="reg">
                            <input matInput placeholder="First Name" formControlName="p_first_name" #p_first_name required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Middle Name" formControlName="p_middle_name" #p_middle_name
                                required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Last Name" formControlName="p_last_name" #p_last_name required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input type="email" matInput placeholder="Email id" formControlName="p_email_id" #p_email_id
                                required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input type="number" matInput placeholder="Current Phone No"
                                formControlName="p_current_contact_no" #p_current_contact_no required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input type="number" matInput placeholder="Alternate Phone No" #p_alternate_contact_no>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <textarea matInput placeholder="Present Address" formControlName="p_present_address"
                                #p_present_address required></textarea>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <textarea matInput placeholder="Permenant Address" formControlName="p_permenant_address"
                                #p_permenant_address required></textarea>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input type="email" matInput placeholder="Email id" formControlName="p_email_id" #p_email_id
                                required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput [matDatepicker]="picker" placeholder="DOB " formControlName="p_dob" #p_dob
                                required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
    
                        <mat-form-field class="reg">
                            <mat-select placeholder="Select-Gender" #p_gender required>
                                <mat-option value="option">Male</mat-option>
                                <mat-option value="option">Female</mat-option>
                                <mat-option value="option">Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
            <mat-card class="card">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <div class="Row">
                        <mat-form-field class="reg">
                            <input matInput placeholder="Position applied for" formControlName="p_position_applied_by"
                                #p_position_applied_by required>
                        </mat-form-field>
                        <mat-label style="margin-left: 6px">Is Fresher ? </mat-label>
                        <mat-checkbox>Yes</mat-checkbox>&nbsp;<mat-checkbox>No</mat-checkbox>&nbsp;
    
    
    
                        <mat-form-field class="reg">
                            <input matInput placeholder="Expected Salary" formControlName="p_expected_salary"
                                #p_expected_salary required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input class="date" matInput [matDatepicker]="picker1" placeholder=" Earliest DOJ "
                                formControlName="p_doj" #p_doj required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <textarea matInput placeholder="Strengths" formControlName="p_strength" #p_strength></textarea>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Joining notice period" formControlName="p_joining_notice_period"
                                #p_joining_notice_period required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input type="number" matInput placeholder="Total experience years"
                                formControlName="p_total_experience" #p_total_experience>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <textarea matInput placeholder="Weaknesses" formControlName="p_weeknesses"
                                #p_weeknesses></textarea>
                        </mat-form-field>
    
                        <mat-form-field class="reg">
                            <textarea matInput placeholder="Additional Information" formControlName="p_additional_info"
                                #p_additional_info></textarea>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <textarea matInput placeholder="Additional Information"
                                formControlName="p_expectation_from_company" #p_expectation_from_company></textarea>
                        </mat-form-field>
                        <!-- <mat-label class="reg">Releving Letter </mat-label>
                        
                                <input type='file' (change)="onSelectFile($event)" formControlName="p_releving_letter_URL" #p_releving_letter_URL> -->
    
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-card>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
            <mat-card class="card">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Done</ng-template>
                    <div class="Row">
                        <mat-form-field class="reg">
                            <input matInput placeholder="Location Preferred 1" formControlName="p_location_preferenced_1"
                                #p_location_preferenced_1 required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Location Preferred 2" formControlName="p_location_preferenced_2"
                                #p_location_preferenced_2 required>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Relative 1 id" #p_relative1_id>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Relation" #p_relation_relative1>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Relative 2 id" #p_relative2_id>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Relation" #p_relation_relative2>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Reference 1 id " #p_reference_1>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Reference 2 id " #p_reference_2>
                        </mat-form-field>
                        <mat-form-field class="reg">
                            <input matInput placeholder="Reference 3 id " #p_reference_3>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
    
                </form>
            </mat-card>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
                <mat-card class="card">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Done</ng-template>
                        <div class="Row">
                                <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button (click)="stepper.reset()">Reset</button>
                                    </div>
                    </div>
    
                </form>
            </mat-card>
        </mat-step> 
    </mat-horizontal-stepper>