<mat-card>
    <!-- <form [formGroup]="firstFormGroup"> -->
        <div class="Row">
            <mat-form-field class="reg">
                <input matInput placeholder="Location Preferred 1" >
            </mat-form-field>
        </div>
  
</mat-card>