.mat-card {
    width: 510px;
    margin: auto;
    margin-top: 130px;
}
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    margin-left: 105px;
}