/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ba444b;
}

.reg.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 1.25em;
    width: fit-content;
}

.mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.mat-drawer-container {
    background-color: #fefefe;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-select-trigger {
    display: block !important;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
  }